
<div class="header">
  <ul class="header-nav">
    <li class="active">首页</li>
    <li>在线选车</li>
    <li>关于我们</li>
    <li class="active">登陆</li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="select-car-online clearfix">
  <div class="brands">
    <div class="brands-title">品牌</div>
    <ul>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
      <li><a href=""><%= image_tag "BM.png" %><div>宝马</div></a></li>
    </ul>
  </div>
  <div class="price">
    <div class="price-title">价格</div>
    <ul>
      <li><a href="">20万以下</a></li>
      <li><a href="">20万-30万</a></li>
      <li><a href="">30万-80万</a></li>
      <li><a href="">80万-150万</a></li>
      <li><a href="">150万以上</a></li>
    </ul>
  </div>
  <div class="style">
    <div class="style-title">车型</div>
    <ul>
      <li><a href=""><%=image_tag "SUV1.png" %></a></li>
      <li><a href=""><%=image_tag "jiaoche1.png" %></a></li>
      <li><a href=""><%=image_tag "paoche1.png" %></a></li>
      <li><a href=""><%=image_tag "MPV1.png" %></a></li>
      <li class="bigger-img"><a href=""><%=image_tag "pika1.png" %></a></li>
      <li><a href=""><%=image_tag "qingke1.png" %></a></li>
    </ul>
  </div>
</div>
<div class="select-car-list clearfix">
  <ul>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
    <li>
      <div><%=image_tag "Q4.png", size:"331x178" %></div>
      <div class="select-title">宝马X3</div>
      <div class="select-price">46.2万起</div>
      <div class="select-ad">更适合年轻人的一款</div>
    </li>
  </ul>
</div>
<div id="pagination">
  <ul >
    <li class="previous-off"><a href=""><</a></li>
    <li class="active">1</li>
    <li class="active">/</li>
    <li class="active">100</li>
    <li class="next"><a href="?page=8">></a></li>
  </ul>
</div>
