
<div class="header">
  <ul class="header-nav">
    <li class="active"><%= link_to "首页", root_path %></li>
    <li><%= link_to "在线选车", advanced_select_path %></li>
    <li>关于我们</li>
    <li class="active">登陆</li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="select-car-online clearfix">
  <div class="brands">
    <div class="brands-title">品牌</div>
    <ul>
      <% @brands.each do |brand| %>
        <% if brand.id == @params[:brand_id].to_i %>
          <li class="select-option choosen">
            <%= link_to 'javascript:void(0)' do %>
              <%= image_tag brand.logo, size: "38x38" %>
              <div><%= brand.cn_name %></div>
              <div hidden><%= brand.id %></div>
            <% end %>
          </li>
        <% else %>
          <li class="select-option">
            <%= link_to 'javascript:void(0)' do %>
              <%= image_tag brand.logo, size: "38x38" %>
              <div><%= brand.cn_name %></div>
              <div hidden><%= brand.id %></div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="price">
    <div class="price-title">价格</div>
    <ul>
      <% if @params[:max].to_i == 200000 %>
        <li class="select-option choosen"><a href="javascript:void(0)">20万以下</a></li>
      <% else %>
        <li class="select-option"><a href="javascript:void(0)">20万以下</a></li>
      <% end %>
      <% if @params[:max].to_i == 300000 %>
        <li class="select-option choosen"><a href="javascript:void(0)">20万-30万</a></li>
      <% else %>
        <li class="select-option"><a href="javascript:void(0)">20万-30万</a></li>
      <% end %>
      <% if @params[:max].to_i == 800000 %>
        <li class="select-option choosen"><a href="javascript:void(0)">30万-80万</a></li>
      <% else %>
        <li class="select-option"><a href="javascript:void(0)">30万-80万</a></li>
      <% end %>
      <% if @params[:max].to_i == 1500000 %>
        <li class="select-option choosen"><a href="javascript:void(0)">80万-150万</a></li>
      <% else %>
        <li class="select-option"><a href="javascript:void(0)">80万-150万</a></li>
      <% end %>
      <% if @params[:min].to_i == 1500000 %>
        <li class="select-option choosen"><a href="javascript:void(0)">150万以上</a></li>
      <% else %>
        <li class="select-option"><a href="javascript:void(0)">150万以上</a></li>
      <% end %>
    </ul>
  </div>
  <div class="style">
    <div class="style-title">车型</div>
    <ul>
      <% @categories.each do |category| %>
        <% case category.name %>
        <% when "SUV" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="select-option choosen">
              <a href="javascript:void(0)"><%=image_tag "SUV1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="select-option">
              <a href="javascript:void(0)"><%=image_tag "SUV1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
          
        <% when "轿车" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="select-option choosen">
              <a href="javascript:void(0)"><%=image_tag "jiaoche1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="select-option">
              <a href="javascript:void(0)"><%=image_tag "jiaoche1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
        <% when "跑车" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="select-option choosen">
              <a href="javascript:void(0)"><%=image_tag "paoche1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="select-option">
              <a href="javascript:void(0)"><%=image_tag "paoche1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
        <% when "MPV" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="select-option choosen">
              <a href="javascript:void(0)"><%=image_tag "MPV1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="select-option">
              <a href="javascript:void(0)"><%=image_tag "MPV1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
          
        <% when "皮卡" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="bigger-img" class="select-option choosen">
              <a href="javascript:void(0)"><%=image_tag "pika1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="bigger-img" class="select-option">
              <a href="javascript:void(0)"><%=image_tag "pika1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
          
        <% when "轻客" %>
          <% if category.id == @params[:category_id].to_i %>
            <li class="select-option choosen">
              <a href="javascript:void(0)"><%= image_tag "qingke1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% else %>
            <li class="select-option">
              <a href="javascript:void(0)"><%= image_tag "qingke1.png" %></a>
              <div hidden><%= category.id %></div>
            </li>
          <% end %>
          
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="select-car-list clearfix">
  <ul>
    <%= render partial: 'select_car_online/product' %>
  </ul>
</div>
<div id="pagination">
  <%= will_paginate @products %>
</div>
<script>
  $(document).ready(function(){
    $(".pagination a").attr('data-remote', 'true');
  });

  $(".select-option").click(function(){
    $(this).addClass("choosen");
    $(this).nextAll().removeClass("choosen");
    $(this).prevAll().removeClass("choosen");

    var brand_id = $(".brands ul li.choosen a div[hidden]").text();
    var price = $(".price ul li.choosen a").text();
    var category_id = $(".style ul li.choosen div[hidden]").text();
    var get_url = "advanced_select?";

    if(brand_id != ""){
      get_url = get_url + "brand_id=" + brand_id + "&";
    }
    if(price != "" ){
      switch(price){
        case "20万以下":
          get_url = get_url + "max=200000&min=0&";
          break;
        case "20万-30万":
          get_url = get_url + "max=300000&min=200000&";
          break;
        case "30万-80万":
          get_url = get_url + "max=800000&min=300000&";
          break;
        case "80万-150万":
          get_url = get_url + "max=1500000&min=800000&";
          break;
        case "150万以上":
          get_url = get_url + "max=999999999&min=1500000&";
          break;
      }
    }
    if (category_id != "") {
      get_url = get_url + "category_id=" + category_id;
    }
    var content = "<a hidden class='select-click' data-remote='true' href='"+get_url+"'><div>select-click</div></a>";
    $(".brands").before(content);
    $(".select-click div").trigger("click");
  });
</script>

