<div class="container">
  <div class="header">
    <ul class="header-nav">
    <li class="active">首页</li>
    <li>在线选车</li>
    <li>关于我们</li>
    <li class="active">登陆</li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <nav>
    <div class="nav-title">
      <%= image_tag 'BM.png', class:"nav-logo" %>
      <div class="nav-cate">
        宝马
        <i class="iconfont">&#xe616;</i>
        <div class="nav-brand">
          <div class="nav-brand-title">品牌</div>
          <div class="nav-brand-list">
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%=image_tag "BM.png"%>
              <span>宝马</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav-type clearfix">
        <li class="nav-way">
          X5
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车型
          <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车款
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部版本
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="zy-advanced-filter clearfix">
    <div class="filter clearfix">
      <dl class="rank">
        <dt>排序：</dt>
        <dd>热门</dd>
        <dd class="active">价格</dd>
        <dd>时间</dd>
      </dl>
      <dl class="supply">
        <dt>货源：</dt>
        <dd>全部</dd>
        <dd class="active">现货</dd>
        <dd>期货</dd>
        <dd>报关中</dd>
      </dl>
      <div class="advanced-filter">
        <span>高级筛选</span><i class="iconfont">&#xe616;</i>
      </div>
    </div>

    <div class="hidden-filter clearfix">
      <div class="condition clearfix">
        <span>宝马X5</span><span>共30个商品</span>
      </div>
      <div class="condition clearfix">
        <dl>
          <dt>外观：</dt>
          <dd class="active">全部</dd>
          <dd>白色</dd>
          <dd>银色</dd>
        </dl>
      </div>
      <div class="condition clearfix">
        <dl>
          <dt>外观：</dt>
          <dd class="active">全部</dd>
          <dd>白色</dd>
          <dd>银色</dd>
        </dl>
      </div>
      <div class="condition clearfix">
        <dl>
          <dt>外观：</dt>
          <dd class="active">全部</dd>
          <dd>白色</dd>
          <dd>银色</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="zy-car-list clearfix">
    <ul class="zy-car-all clearfix">
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>

          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>
          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>
          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>
          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>
          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
      <li class="car-item-feed clearfix">
        <div class="car-item-feed-img">
          <%=image_tag "Q4.png", height:"153" %>
          <span class="color-item">
            <span class="outer-color">外<i class="icon "></i></span>
            <span class="inner-color">内<i class="icon"></i></span>
          </span>
        </div>
        <div class="car-item-feed-title">
          <p>2016款宝马X5 xDrive 35i M Sport加规3.0T20测试标题测试标题测试表</p>
        </div>
        <div class="clearfix price-item">
          <p class="price">￥46.2万</p>
          <p class="supply">中东/现货</p>
        </div>
      </li>
    </ul>
    <div id="pagination">
      <ul >
        <li class="previous-off"><a href=""><</a></li>
        <li class="active">1</li>
        <li class="active">/</li>
        <li class="active">100</li>
        <li class="next"><a href="?page=8">></a></li>
      </ul>
    </div>
  </div>
</div>
<script>

  $(document).ready(function(){
    $(".advanced-filter").click(function() {
    var text = $(".advanced-filter span").text();
    if(text == "高级筛选"){
      $(".hidden-filter").show(500);
      $(".advanced-filter").html("<span>隐藏筛选</span><i class='iconfont'>&#xe616;</i>");
      $(".filter").addClass('bottom-line');
    }
    else {
      $(".hidden-filter").hide(500);
      $(".advanced-filter").html("<span>高级筛选</span><i class='iconfont'>&#xe617;</i>");
      $(".filter").removeClass('bottom-line')
    }
  });
});
</script>
