<%= form_for [:admin, @brand],  html:{ class:"col s12 admin_form" } do |f| %>

   <%= render "admin/share/error_messages", target: @brand %>
   <div class="form-group" data-required="true">
        <%= f.label :cn_name, '中文名', class: 'control-label' %>
        <%= f.text_field :cn_name, class:"form-control validate", autofocus: true, required: '' %>
   </div>

   <div class="form-group" data-required="true">
        <%= f.label :en_name, '英文名', class: 'control-label' %>
        <%= f.text_field :en_name, class:"form-control validate", required: '' %>
   </div>

   <div class="form-group" data-required="true">
      <%= f.label :nationality, '品牌所属国家', class: 'control-label' %>
      <%= f.text_field :nationality, class:"form-control validate", required: '' %>
   </div>
    <div class="form-group" data-required="true">
        <%= f.label :sort_order, '排序', class: 'control-label' %>
        <%= f.text_field :sort_order, class:"form-control validate", required: '' %>
    </div>

    <div class="form-group" data-required="true">
      <%= f.check_box :is_show %>
      <%= f.label :is_show, '不显示在首页侧边栏', class: 'control-label' %>
      <%# f.text_field :is_show, class:"form-control validate", required: '' %>
   </div>



    <div class="form-group">
        <label for="E5rcADdEFdxT4EKSY" class="control-label">头像</label>
        <div class="fileUpload" name="image" id="E5rcADdEFdxT4EKSY" data-schema-key="image">
          <span class="btn btn-file btn-xs">
            <%= file_field_tag :logo,
            class: 'form-control',
            placeholder: '点击上传图片' %>
            <%= f.hidden_field :logo %>
          </span>
        </div>
        <%= image_tag @brand.logo, id: 'show_brand_logo', width: "180" %>
    </div>


    <div class="progress" id="progress" style="display: none;">
      <div class="progress-bar"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        请上传图片
      </div>
    </div>

    <div class="buttons text-right">
      <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">提交</button>
    </div>
<% end %>
<script>


$(function(){
   $('#logo').change(function(e){
     var fd = new FormData();
      fd.append("upload_file", $("#logo").get(0).files[0]);
      console.log(fd);
      setProgress(progress, 0, "开始上传");
      setProgress(progress, 50, "50%");
      $.ajax({
        url: "/admin/upload",
        type: "POST",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data) {
          console.log(data.file_path);
          setProgress(progress, 100, "上传成功");
              $('#brand_logo').val(data.file_path);
              $('#show_brand_logo').attr('src', data.file_path + "<%= image_size %>");
        }
      });
  })

})




 //设置进度条
var progress = document.getElementById("progress");

function setProgress(ele, percent, content) {
  ele.style.display = "block";
  if (!!percent) {
    ele.getElementsByClassName("progress-bar")[0].style.width = percent + "%";
    ele.getElementsByClassName("progress-bar")[0].setAttribute("aria-valuenow", percent);
  }
  ele.getElementsByClassName("progress-bar")[0].innerText = content;
}
</script>




