<div class="row">
  <div class="col-sm-12">
    <div class="admin-content">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="title">
          添加相片
        <%= link_to '', class: 'btn btn-default btn-xs', title: '添加服务',data: {
          toggle: "modal",target: "#myModal"}  do%>
          <i class="fa fa-plus"></i>
        <% end %>
          </h1>
          <hr>
          <div class="well">
            <div class="row">
               <% @photos.each do |p| %>
                <% if !p.id.blank? %>
                <a href="/admin/albums/<%= @albums.id %>/photos/<%= p.id %>/edit">
                   <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <%= image_tag  p.img_url+image_size , width: 300, height: 300 %>
                      <div class="caption">
                        <h3><%= p.name  %></h3>
                      </div>
                    </div>
                  </div>
                </a>
                <% else %>
                <% end %>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <%= render "form" %>
      </div>
      <div class="modal-footer">
    </div>
  </div>
</div>
