<%= form_for [:admin, @order],  html:{ class:"col s12 admin_form" } do |f| %>
   <%# render "admins/share/error_messages", target: @order %>
    
    <div class="form-group" data-required="true">
      <%= f.label :order_cn, '订单号', class: 'control-label' %>
      <%= f.text_field :order_cn, class:"form-control validate", required: '',disabled: "disabled" %>
    </div>


    <div class="form-group" data-required="true">
       <label for="user_id"></label>
       <input type="text" value="<%= @order.user.user_name %>" id="user_id" class="form-control validate" disabled="disabled" name="order[user_id]">
    </div>

    <div class="form-group" data-required="true">
       <label for="good_id"></label>
       <input type="text" value="<%= @order.good.name %>" id="good_id" class="form-control validate" disabled="disabled" name="order[good_id]">
    </div>

    <div class="form-group"  data-required="true">
      <%= f.select :status,options_for_select(@stauts),{},{:class => 'form-control validate'}%>
    </div>
     

    <div class="buttons text-right">
      <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">提交</button>
    </div>
<% end %>


<script>
  $(function() {

    $('.select_service').change(function(){
      var service_price = $(this).parent().find('.service_price').text();
      $('#order_total_price').val(service_price);
    })
    $('form').validate({
      rules: {
        "order[total_price]": {
          required: true,
          number: true
        },
        "order_shop_services[shop_servce_id]": "required",
        "order[pay_type]": "required",
        "order[barber_id]": "required"
      }
    });
  });
</script>


