<%= form_for [:admin, Order.new],  html:{ class:"col s12 admin_form" } do |f| %>
   <%# render "admins/share/error_messages", target: @order %>
   <div class="form-group" data-required="true">
      
      <%= f.hidden_field :total_price, class:"form-control validate", autofocus: true, required: '', value: @shop_services[0].price %>
   </div>

   <div class="form-group" data-required="true">
      <%= f.label :name, '服务项目', class: 'control-label' %>
      <div class="control-label">
        <%  @shop_services.each_with_index do |s, index| %>
        <label class="radio-inline">
          <input type="radio" name="order_shop_services[shop_servce_id]" value="<%= s.id %>" <%= index == 0 ? 'checked':''  %>  class="select_service" ><%= s.name %>
          / <span class="service_price"><%= s.price %></span>元       
        </label>
        <% end %>
      </div>
      
   </div>

   <div class="form-group" data-required="true">
      <%= f.label :order_pay_type, '付款方式', class: 'control-label' %>
      <div class="control-label">
        <label class="radio-inline">
          <input type="radio" name="order[pay_type]" id="order_pay_type_1" value="cash" checked="checked">现金支付
        </label>
        <label class="radio-inline">
          <input type="radio" name="order[pay_type]" id="order_pay_type_2" value="wx_pay">微信支付
        </label>
      </div>
   </div>

    <div class="form-group" data-required="true">
      <%= f.label :name, '服务人员', class: 'control-label' %>
      <div class="control-label">
        <%  @barbers.each_with_index do |s, index| %>
        <label class="radio-inline">
          <input type="radio" name="order[barber_id]"  value="<%= s.id %>" <%= index == 0 ? 'checked':'' %> ><%= s.name %>
        </label>
        <% end %>
        
      </div>
   </div>

    <div class="buttons text-right">
      <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">生成订单</button>
    </div>
<% end %>


<script>
  $(function() {

    $('.select_service').change(function(){
      var service_price = $(this).parent().find('.service_price').text();
      $('#order_total_price').val(service_price);
    })
    $('form').validate({
      rules: {
        "order[total_price]": {
          required: true,
          number: true
        },
        "order_shop_services[shop_servce_id]": "required",
        "order[pay_type]": "required",
        "order[barber_id]": "required"
      }
    });
  });
</script>


