<div class="row">
  <div class="col-sm-12">
    <div class="admin-content">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h1 class="title">
          指派服务人员
          <%= link_to admins_order_search_path, class: 'btn btn-default btn-xs', title: '取消' do%>
          <i class="fa fa-mail-reply"></i>
          <% end %>
          </h1>
          <hr>
          <div class="well">
            <%= form_for [:admins, Order.new],url: admins_create_assign_service_path(@order_id),  html:{ class:"col s12 admin_form" } do |f| %>
                  <div class="form-group" data-required="true">
                    <%= f.label :name, '服务人员', class: 'control-label' %>
                    <div class="control-label">
                      <%  @barbers.each_with_index do |s, index| %>
                      <label class="radio-inline">
                        <input type="radio" name="order[barber_id]"  value="<%= s.id %>" <%= index == 0 ? 'checked':'' %> ><%= s.name %>
                      </label>
                      <% end %>
                      
                    </div>
                  </div>
                  <div class="buttons text-right">
                    <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">提交</button>
                  </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>