<div class="container clearfix">
  <div class="header">
    <ul class="header-nav">
      <li class="active"><%= link_to "首页", root_path %></li>
      <li><%= link_to "在线选车", advanced_select_path %></li>
      <li>关于我们</li>
      <% if current_user %>
        <li class="active login-order">
          <i class='iconfont'></i><%= current_user.mobile %>
          &nbsp;
          <a href='<%= personal_path(current_user) %>'>个人订单<a>
          &nbsp;
          <%= link_to "退出", logout_path, method: "delete" %>
        </li>
      <% else %>
        <li class="active login-btn"><i class="iconfont">&#xe60d;</i>登陆</li>
      <% end  %>
    </ul>
  </div>
  <div class="clearfix"></div>


  <nav>
    <div class="nav-title">
      预约下单
    </div>
  </nav>

  <div class="zy-car-show clearfix">
    <div class="zy-car-show-img">
      <%= image_tag "carshow.png" %>
    </div>
    <div class="zy-car-show-product">
      <h1>2016款宝马x5Drive 35i中东版 3.0T 四驱 汽油b版 5座外黑内棕</h1>
      <div>
        <p>平行车价:<span>￥75.4万</span></p>
      </div>
    </div>
    <div class="zy-car-show-config">
      <h1>亮点配置</h1>
      <ul class="clearfix">
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
        <li>全景天窗</li>
      </ul>
    </div>

  </div>

  <h1 class="zy-info-title">
    填写信息
  </h1>
  <hr class="zy-line">
  <div class="zy-list-info">
    <div class="form-group">
     <div class="zy-list-title"> <i class="iconfont">&#xe60c;</i><span>个人信息</span></div>
      <div class="form-input">
       <label for="">姓名:</label>
       <input type="text" name="" id="">
     </div>
     <div class="form-input">
       <label for="">手机:</label>
       <input type="text" name="" id="" class="input-bottom">
     </div>
    </div>
    <div class="form-group">
      <div class="zy-list-title"><i class="iconfont">&#xe612;</i><span>提车地点</span></div>
      <div class="form-input clearfix form-select">
       <span class="form-left">您所在的城市:</span>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
      </select>
     </div>
    </div>
    <div class="form-group">
     <div class="zy-list-title"> <i class="iconfont">&#xe60a;</i><span>选择售后质保</span></div>
      <div class="form-input">
       <textarea name="" class="input-chose"></textarea>
     </div>
    </div>
    <div class="form-group">
      <div class="zy-list-title"><i class="iconfont">&#xe60c;</i><span>其他要求</span></div>
      <div class="form-input">
      <textarea name="" class="input-ask"></textarea>
     </div>
    </div>
    <div class="form-group">
     <div class="zy-list-title"> <i class="iconfont">&#xe606;</i><span>选择售后质保</span></div>
     <table cellpadding="0" cellspacing="0" border="1" >

      <tr>
        <td>商品名称</td>
        <td>2016款宝马x5</td>
      </tr>
      <tr>
        <td>下单时间</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>订单号:13800138000</p>
          <span>总价: <h1>￥48.7万</h1></span>
        </td>
      </tr>
    </table>
    </div>
    <div class="form-submit">
     <div class="clearfix">
        <button>提交</button>
     </div>
      <div class="zy-deal-ag">
        <input type="checkbox">
        <span>我已阅读并同意<strong>《xx用户注册协议》</strong></span>
      </div>
    </div>
</div>



