<div class="container">
  <div class="header">
    <ul class="header-nav">
      <li class="active"><%= link_to "首页", root_path %></li>
      <li><%= link_to "在线选车", advanced_select_path %></li>
      <li>关于我们</li>
      <% if current_user %>
        <li class="active login-order">
          <i class='iconfont'></i><%= current_user.mobile %>
          &nbsp;
          <a href='<%= personal_path(current_user) %>'>个人订单<a>
          &nbsp;
          <%= link_to "退出", logout_path, method: "delete" %>
        </li>
      <% else %>
        <li class="active login-btn"><i class="iconfont">&#xe60d;</i>登陆</li>
      <% end  %>
    </ul>
  </div>
  <div class="clearfix"></div>
  <nav>
    <div class="nav-title">
      个人中心
    </div>

  </nav>

  <div class="zy-body clearfix">
     <div class="zy-order-title">
       <i class="iconfont">&#xe614;</i>
       我的订单
     </div>
     <% @orders.each do |p| %>
     <div class="order-list">
        <div class="order-title clearfix">
          <span class="order-code">订单编号: <%= p.order_cn %></span>
          <span class="order-time">
            下单时间: <%= p.created_at %>
          </span>
          <span class="order-total">
            ￥49.6万
          </span>
        </div>
        <div class="order-body">
         <div class="order-wrap clearfix">
          <%= image_tag "carshow.png" %>
          <div class="order-list-intro">
             <h1 class="order-params-name"><%= p.good.name %></h1>
            <span class="order-pay-way">质保/付款方式</span>
          </div>
         <div class="order-list-button">
            <button class="order-detail-btn">详情订单</button>
           <button class="order-contact-btn">联系客服</button>
         </div>
         </div>
          <hr>
            <h1 class="order-status">订单进度</h1>
            <div class="order-right clearfix ">
              <div class="order-line clearfix">
                <span class="circle1"></span>
                <span class="circle2 active"></span>
                <span class="circle3"></span>
                <span class="circle4"></span>
                <span class="circle5"></span>
                <span class="circle6"></span>
                <span class="circle7"></span>
              </div>

              <ul class="clearfix">
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li class="active">
                  <span>客服1v1对接</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>线下看车</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>车款支付</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>提车</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>拍照办理</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>订单完成</span>
                  <p>2016-9-10 11:30</p>
                </li>
              </ul>
            </div>
        </div>
        <div class="zy-window">
          <div class="zy-window-wrap">
            <div class="zy-window-nav clearfix">
              <div class="zy-window-title">
                <i class="iconfont" >&#xe606;</i><span>订单详情</span>
              </div>
              <div class="zy-window-close">×</div>
            </div>

            <table cellpadding="0" cellspacing="0" border="1" >
              <tr>
                <td>商品名称</td>
                <td><%= p.good.name %></td>
              </tr>
              <tr>
                <td>下单时间</td>
                <td> <%= p.created_at %></td>
              </tr>
              <tr>
                <td>联系人</td>
                <td> <%= p.name %></td>
              </tr>
              <tr>
                <td>提车地</td>
                <td><%= get_city_name(p.province_id.to_s) + get_city_name(p.city_id.to_s) %></td>
              </tr>
              <tr>
                <td>三包服务</td>
                <td>2016年3月18日11:30</td>
              </tr>
              <tr>
                <td colspan="2">
                  <p>订单号:13800138000</p>
                  <span>总价: <h1>￥48.7万</h1></span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="zy-windows">
          <div class="zy-window-wrap">
            <div class="zy-window-nav clearfix line">
              <div class="zy-window-title" style="margin-top: 0;">
                <i class="iconfont" >&#xe606;</i><span>联系客服</span>
              </div>
              <div class="zy-window-close">×</div>
            </div>

            <div class="zy-window-content">

                <ul>
                 <li>问:什么时候联系我?</li>
                 <li>在提交联系方式后看心情<span class="window-show" style="display:none;">更多<i class="iconfont" >&#xe616;</i></span></li>
               </ul>
              <div class="window-question">
               <ul>
                 <li>问:什么时候联系我?</li>
                 <li>在提交联系方式后看心情</li>
               </ul>
               <ul>
                 <li>问:什么时候联系我?</li>
                 <li>在提交联系方式后看心情</li>
               </ul>
               <ul>
                 <li>问:什么时候联系我?</li>
                 <li>在提交联系方式后看心情 <span class="window-hide">收起 <i class="iconfont" >&#xe617;</i></span></li>
               </ul>
              </div>
              <textarea name="" id="" cols="160" rows="10"  placeholder="请介绍自己..."></textarea>
              <div>
                <button class="window-submit">提交</button>
              </div>
            </div>


          </div>
        </div>
      </div>
    <% end %>
  </div>
<div class="zy-backdrop"></div>

</div>




<script>
basecar.openWindow('.order-detail-btn','.zy-window','.zy-backdrop')
basecar.openWindow('.order-contact-btn','.zy-windows','.zy-backdrop')
basecar.closeMask('.zy-backdrop','.zy-window','.zy-windows');
basecar.Shink('.window-hide','.window-show','.window-question');
basecar.Shink('.window-show','.window-question','.window-show');

  var countdown=60;

  function settime() {
    e = $('.btn-code');
    if (countdown == 0) {
      e.removeAttr("disabled");
      e.addClass('active-botton');
      e.html("获取验证码");
      countdown = 60;
    } else {
      e.attr("disabled", true);
      e.removeClass('active-botton');
      e.html("重新发送(" + countdown + ")");
      countdown--;
      setTimeout(function() {
      settime();
      },1000);
    }
  }
  $('.btn-code').click(function(event) {
    mobile = $("#session_mobile").val();
    url = "/send_msg?mobile=" + mobile;
    if (mobile==0) {
      alert("手机号不能为空");
    } else{
      $.get(url, function(data, status) {
        if (data.message == "success" ) {
          settime();
        } else {
          alert("请重试");
        }
      });
    };
  });

  $('.login-btn').bind('click',function(){
    $('.zy-window-login').show();
      $('.zy-backdrop').show();
  })

  $(document).click(function(e){
    if(e.target.className === 'zy-backdrop'|| e.target.className === 'zy-window-close') {
      $('.zy-window-login').hide();
      $('.zy-backdrop').hide();
      clearTimeout(t_startTime);
      $('.btn-code').attr('disabled',false);
      $('.btn-code').html('获取验证码');
    }
  })

</script>
