<div class="zy-backdrop"></div>

<div class="zy-window-login">
  <div class="zy-window-wraps">
    <%# form_for :session, url: login_path, remote: true do |f| %>
    <%= form_tag "/login", method: "post", remote: true  do %>
      <h1>手机快捷登录</h1>
      <div class="s-icon">
        <i class="iconfont">&#xe602;</i>
        <%= text_field_tag :mobile, params[:name],  placeholder: "请输入手机号" %>
      </div>
      <div class="s-icon clearfix">
        <i class="iconfont">&#xe608;</i>
        <%= text_field_tag :auth_code, params[:auth_code],  class: "icon-code", placeholder: "请输入验证码" %>
        <button class="btn-code active-botton" type="button">获取验证码</button>
      </div>
      <div class="s-submit">
        <%= submit_tag "登录" %>
        <%= check_box_tag "checkbox",1,params[:agree], class: "s-check" %>
        <p>我已阅读并同意<span>《xx用户注册协议》</span></p>
      </div>
    <% end %>
  </div>
</div>

<div class="wechat-contact">
  <ul>
    <li><i class="iconfont">&#xe605;</i></li>
    <li><i class="iconfont">&#xe60b;</i></li>
  </ul>
</div>
<div class="top">
  <div class="header">
    <ul class="header-nav">
      <li class="active"><%= link_to "首页", root_path %></li>
      <li><%= link_to "在线选车", advanced_select_path %></li>
      <li>关于我们</li>
      <% if current_user %>
        <li class="active login-order">
          <i class='iconfont'></i><%= current_user.mobile %><a href='<%= personal_path(current_user) %>'>个人订单<a>
        </li>
      <% else %>
        <li class="active login-btn"><i class="iconfont">&#xe60d;</i>登陆</li>
      <% end  %>
    </ul>
  </div>
  <div class="sidebar">
    <ul class="zy-all-icons">
      <li class="zy-all-brands">
        <a href=""><%=image_tag "all.png" %></a>
        <div class="zy-model-all-brands">
          <div class="all-brands">
            <div class="brands">
              <h4>品牌</h4>
              <ul>
                <% @brands.each do |brand| %>
                  <li>
                    <%= link_to advanced_select_path(brand_id: brand.id) do %>
                      <%= image_tag brand.logo, size: '50x50' %>
                      <div><%= brand.cn_name %></div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="price">
              <h4>价格</h4>
              <ul>
                <li><%= link_to "20万以下", advanced_select_path(min: 0, max: 200000) %></li>
                <li><%= link_to "20-30万", advanced_select_path(min: 200000, max: 300000) %></li>
                <li><%= link_to "30-80万", advanced_select_path(min: 300000, max: 800000) %></li>
                <li><%= link_to "80-150万", advanced_select_path(min: 800000, max:1500000) %></li>
                <li><%= link_to "150万以上", advanced_select_path(min: 1500000, max: 999999999) %></li>
              </ul>
            </div>
            <div class="style">
              <h4>车型</h4>
              <ul>
                <li><a href=""><%= image_tag "SUV.png" %></a></li>
                <li><a href=""><%= image_tag "jiaoche.png" %></a></li>
                <li><a href=""><%= image_tag "paoche.png" %></li>
                <li><a href=""><%= image_tag "MPV.png" %></li>
                <li class="bigger-img"><a href=""><%=image_tag "pika.png" %></a></li>
                <li><a href=""><%= image_tag "qingke.png" %></a></li>
              </ul>
            </div>
          </div>
          <div class="tuijian-cars">
            <h4>推荐车型</h4>
            <ul>
              <% @products_recommended.each do |product_recommended| %>
                <li>
                  <%= link_to product_recommended.name, "#" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
      <% @brands_with_products.each do |brand_with_products| %>
        <li>
          <%= link_to "#" do %>
            <%= image_tag brand_with_products.logo %>
          <% end %>
          <div class="zy-brand-cars">
            <div class="zy-brand-cars-left">
              <ul>
                <% brand_with_products.products.each do |product| %>
                  <li>
                    <%= link_to "#" do %>
                      <%= image_tag product.img_url, size: "184x93" %>
                      <div class="brand-car-style">
                        <%= product.name %>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="zy-brand-cars-right">
              <ul>
                <% @advertisements_1.each do |ad| %>
                  <li>
                    <%= link_to ad.link do %>
                      <%= image_tag ad.img_url, size: "320x190" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    <li>
        <a href=""><%= image_tag "BM.png" %></a>
        <div class="zy-brand-cars">
          <div class="zy-brand-cars-left">
            <ul>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
            </ul>
          </div>
          <div class="zy-brand-cars-right">
            <ul>
              <li><a href=""><%= image_tag "ad111.png", size: "320x190" %></a></li>
              <li><a href=""><%= image_tag "ad111.png", size: "320x190" %></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div  class="banner">
    <div id="html5zoo-1">
        <ul class="html5zoo-slides" style="display:none;">
          <% @banners.each do |banner| %>
            <li>
              <%= link_to banner.link, target: "_blank" do %>
                <%= image_tag banner.img_url, size: "959x454" %>
              <% end %>
            </li>
          <% end %>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %>
            </a></li>
            <li><a href=""><%= image_tag "banner.png", size: "959x454" %></a></li>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %></a></li>
        </ul>
    </div>
  </div>
  <div class="top-bottom">
    <ul>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<section class="clearfix">
  <h3 class="zy-section-title">热销车型</h3>
  <ul class="hot-cars">
    <% @products_hot.each do |product_hot| %>
      <li class="hot-car-entry">
        <%= link_to "#" do %>
          <div class="hot-car-img">
            <%= image_tag product_hot.img_url, size:"196x88" %>
          </div>
          <h5 class="hot-car-style">
            <%= product_hot.name %>
          </h5>
          <div class="hot-car-price">
            <%= BigDecimal(product_hot.min_price/10000).round(2).to_s + "万起" %>
          </div>
          <div class="hot-car-book">0元预定看车</div>
        <% end %>
      </li>
    <% end %>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img">
        <%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
  </ul>
</section>
<section class="clearfix">
  <h3  class="zy-section-title">现车推荐</h3>
  <ul class="recommend-cars">
    <% @products_recommended.each do |product_recommended| %>
      <li>
        <div class="recommend-car-entry clearfix">
          <div class="recommend-car-item">
            <div class="recommend-car-title">
              <h3><%= product_recommended.name %></h3>
            </div>
            <div class="recommend-car-sub-title">
              <%= product_recommended.recommended_sub_title %>
            </div>
            <div class="recommend-car-descrip">
              <%= product_recommended.recommended_words %>
            </div>
          </div>
          <%= image_tag product_recommended.img_url, size: "305x185", class: "recommend-car-img" %>
        </div>
        <div class="recommend-botton">
          <%= link_to "更多信息", "#", class: "recommend-more-info" %>
          <%= link_to "立即预定", "#", class: "recommend-book-now" %>
        </div>
      </li>
    <% end %>
    <li>
      <div class="recommend-car-entry clearfix">
        <div class="recommend-car-item">
          <div class="recommend-car-title"><h3>Ghibli S Q4</h3></div>
          <div class="recommend-car-sub-title">非凡引力，光彩夺目</div>
          <div class="recommend-car-descrip">搭载玛莎拉蒂Q4智能四驱系统，无论何种恶劣环境，始终提供强劲的抓地力和牵引力，保持卓越性能。
          </div>
        </div>
        <%= image_tag "Q4.png", class: "recommend-car-img" %>
      </div>
      <div class="recommend-botton">
        <a href="" class="recommend-more-info">更多信息</a>
        <a href="" class="recommend-book-now">立即预定</a>
      </div>
    </li>
  </ul>
</section>
<section class="clearfix">
  <h3 class="zy-section-title">明星单品</h3>
  <% @ads_3.each do |ad| %>
    <%= image_tag ad.img_url %>
  <% end %>
  <%= image_tag "log-banner.png" %>
</section>
    <section>
  <h3 class="zy-section-title">购车流程</h3>
</section>


<script>
  var countdown=60;

  function settime() {
    e = $('.btn-code');
    if (countdown == 0) {
      e.removeAttr("disabled");
      e.addClass('active-botton');
      e.html("获取验证码");
      countdown = 60;
    } else {
      e.attr("disabled", true);
      e.removeClass('active-botton');
      e.html("重新发送(" + countdown + ")");
      countdown--;
      setTimeout(function() {
      settime();
      },1000);
    }
  }
  $('.btn-code').click(function(event) {
    mobile = $("#mobile").val();
    url = "/send_msg?mobile=" + mobile;
    if (mobile==0) {
      alert("手机号不能为空");
    } else{
      $.get(url, function(data, status) {
        if (data.message == "success" ) {
          settime();
        } else {
          alert("请重试");
        }
      });
    };
  });

  $('.login-btn').bind('click',function(){
    $('.zy-window-login').show();
      $('.zy-backdrop').show();
  })

  $(document).click(function(e){
    if(e.target.className === 'zy-backdrop'|| e.target.className === 'zy-window-close') {
      $('.zy-window-login').hide();
      $('.zy-backdrop').hide();
      clearTimeout(t_startTime);
      $('.btn-code').attr('disabled',false);
      $('.btn-code').html('获取验证码');
    }
  })
</script>

