<div class="zy-backdrop"></div>


<div class="zy-window-login">
  <div class="zy-window-wraps">
     <form action="">
        <h1>注册</h1>
        <div class="s-icon">
          <i class="iconfont">&#xe602;</i>
         <input type="text" name="" id="" placeholder="请输入手机号">
        </div>
        <div class="s-icon clearfix">
          <i class="iconfont">&#xe608;</i>
          <input type="text" name="" id="" class="icon-code" placeholder="请输入验证码">
          <button>获取验证码</button>
        </div>
       <div class="s-icon clearfix">
          <i class="iconfont">&#xe611;</i>
          <input type="password" name="" id="" placeholder="请输入至少6位的密码">
        </div>
       <div class="s-submit">
           <input type="submit" value="注册">
           <input type="checkbox" name="" id="" class="s-check">
           <p>我已阅读并同意<span>《xx用户注册协议》</span></p>
       </div>
    </form>
  </div>
</div>


<div class="wechat-contact">
  <ul>
    <li><i class="iconfont">&#xe605;</i></li>
    <li><i class="iconfont">&#xe60b;</i></li>
  </ul>
</div>
<div class="top">
  <div class="header">
    <ul class="header-nav">
      <li class="active">首页</li>
      <li>在线选车</li>
      <li>关于我们</li>
      <li class="active"><i class="iconfont">&#xe60d;</i>登陆</li>
    </ul>
  </div>
  <div class="sidebar">
    <ul class="zy-all-icons">
      <li class="zy-all-brands">
        <a href=""><%=image_tag "all.png" %></a>
        <div class="zy-model-all-brands">
          <div class="all-brands">
            <div class="brands">
              <h4>品牌</h4>
              <ul>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
                <li><a href=""><%= image_tag "BM.png"%><div>宝马</div></a></li>
              </ul>
            </div>
            <div class="price">
              <h4>价格</h4>
              <ul>
                <li><a href="">20万以下</a></li>
                <li><a href="">20-30万</a></li>
                <li><a href="">30-80万</a></li>
                <li><a href="">80-150万</a></li>
                <li><a href="">150万以上</a></li>
              </ul>
            </div>
            <div class="style">
              <h4>车型</h4>
              <ul>
                <li><a href=""><%= image_tag "SUV.png" %></a></li>
                <li><a href=""><%= image_tag "jiaoche.png" %></a></li>
                <li><a href=""><%= image_tag "paoche.png" %></li>
                <li><a href=""><%= image_tag "MPV.png" %></li>
                <li class="bigger-img"><a href=""><%=image_tag "pika.png" %></a></li>
                <li><a href=""><%= image_tag "qingke.png" %></a></li>
              </ul>
            </div>
          </div>
          <div class="tuijian-cars">
            <h4>推荐车型</h4>
            <ul>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
              <li><a href="">丰田普拉多</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href=""><%= image_tag "BM.png" %></a>
        <div class="zy-brand-cars">
          <div class="zy-brand-cars-left">
            <ul>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
              <li><a href=""><%= image_tag "adX3.png"%><div class="brand-car-style">X3</div></a></li>
            </ul>
          </div>
          <div class="zy-brand-cars-right">
            <ul>
              <li><a href=""><%= image_tag "ad111.png", size: "320x190" %></a></li>
              <li><a href=""><%= image_tag "ad111.png", size: "320x190" %></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div  class="banner">
    <div id="html5zoo-1">
        <ul class="html5zoo-slides" style="display:none;">
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %>
            </a></li>
            <li><a href=""><%= image_tag "banner.png", size: "959x454" %></a></li>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %></a></li>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %></a></li>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %></a></li>
            <li><a href="###" target="_blank"><%= image_tag "banner.png", size: "959x454" %></a></li>
        </ul>
    </div>
  </div>
  <div class="top-bottom">
    <ul>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
      <li>
        <div class="advance-icon"><%= image_tag "advance-icon.png"%></div>
        <div class="advance-description">
          <h4>港口</h4>
          <p>与天津国际汽车口岸独家战略合作，通过互联网平台，直接面向消费者发售商品。</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<section class="clearfix">
  <h3 class="zy-section-title">热销车型</h3>
  <ul class="hot-cars">
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img">
        <%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
    <li class="hot-car-entry">
      <a href="">
        <div class="hot-car-img"><%= image_tag "X3.png", size:"196x88" %></div>
        <h5 class="hot-car-style">2016款宝马</h5 class="hot-car-style">
        <div class="hot-car-price">46.2万起</div>
        <div class="hot-car-book">0元预定看车</div>
      </a>
    </li>
  </ul>
</section>
<section class="clearfix">
  <h3  class="zy-section-title">现车推荐</h3>
  <ul class="recommend-cars">
    <li>
      <div class="recommend-car-entry clearfix">
        <div class="recommend-car-item">
          <div class="recommend-car-title"><h3>Ghibli S Q4</h3></div>
          <div class="recommend-car-sub-title">非凡引力，光彩夺目</div>
          <div class="recommend-car-descrip">搭载玛莎拉蒂Q4智能四驱系统，无论何种恶劣环境，始终提供强劲的抓地力和牵引力，保持卓越性能。
          </div>
        </div>
        <%= image_tag "Q4.png", class: "recommend-car-img" %>
      </div>
      <div class="recommend-botton">
        <a href="" class="recommend-more-info">更多信息</a>
        <a href="" class="recommend-book-now">立即预定</a>
      </div>
    </li>
    <li>
      <div class="recommend-car-entry clearfix">
        <div class="recommend-car-item">
          <div class="recommend-car-title"><h3>Ghibli S Q4</h3></div>
          <div class="recommend-car-sub-title">非凡引力，光彩夺目</div>
          <div class="recommend-car-descrip">搭载玛莎拉蒂Q4智能四驱系统，无论何种恶劣环境，始终提供强劲的抓地力和牵引力，保持卓越性能。
          </div>
        </div>
        <%= image_tag "Q4.png", class: "recommend-car-img" %>
      </div>
      <div class="recommend-botton">
        <a href="" class="recommend-more-info">更多信息</a>
        <a href="" class="recommend-book-now">立即预定</a>
      </div>
    </li>
    <li>
      <div class="recommend-car-entry clearfix">
        <div class="recommend-car-item">
          <div class="recommend-car-title"><h3>Ghibli S Q4</h3></div>
          <div class="recommend-car-sub-title">非凡引力，光彩夺目</div>
          <div class="recommend-car-descrip">搭载玛莎拉蒂Q4智能四驱系统，无论何种恶劣环境，始终提供强劲的抓地力和牵引力，保持卓越性能。
          </div>
        </div>
        <%= image_tag "Q4.png", class: "recommend-car-img" %>
      </div>
      <div class="recommend-botton">
        <a href="" class="recommend-more-info">更多信息</a>
        <a href="" class="recommend-book-now">立即预定</a>
      </div>
    </li>
    <li>
      <div class="recommend-car-entry clearfix">
        <div class="recommend-car-item">
          <div class="recommend-car-title"><h3>Ghibli S Q4</h3></div>
          <div class="recommend-car-sub-title">非凡引力，光彩夺目</div>
          <div class="recommend-car-descrip">搭载玛莎拉蒂Q4智能四驱系统，无论何种恶劣环境，始终提供强劲的抓地力和牵引力，保持卓越性能。
          </div>
        </div>
        <%= image_tag "Q4.png", class: "recommend-car-img" %>
      </div>
      <div class="recommend-botton">
        <a href="" class="recommend-more-info">更多信息</a>
        <a href="" class="recommend-book-now">立即预定</a>
      </div>
    </li>
  </ul>
</section>
<section class="clearfix">
  <h3 class="zy-section-title">明星单品</h3>
  <%= image_tag "log-banner.png" %>
</section>
    <section>
  <h3 class="zy-section-title">购车流程</h3>
</section>

