  <%= render 'layouts/header' %>
  <div class="clearfix"></div>
  <nav>
    <div class="nav-title">
      <%= image_tag @product.brand.logo, class:"nav-logo" %>
      <div class="nav-cate">
        <%= @product.brand.cn_name %>
      </div>
      <ul class="nav-type clearfix">
        <li class="nav-way">
          <%= @product.name %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="zy-advanced-filter clearfix">
    <div class="filter clearfix">
      <dl class="rank">
        <dt>排序：</dt>
        <dd class="select-option active">价格</dd>
        <dd class="select-option">时间</dd>
      </dl>
      <dl class="supply">
        <dt>货源：</dt>
        <dd class="select-option active">全部</dd>
        <dd class="select-option">现货</dd>
        <dd class="select-option">期货</dd>
      </dl>
    </div>
  </div>
  <div class="zy-car-list clearfix">
    <ul class="zy-car-all clearfix">
      <%= render partial: 'goods/good' %>
    </ul>
  </div>
  <div id="pagination">
      <%= will_paginate @goods %>
  </div>
<script>
  $(document).ready(function(){
    $(".pagination a").attr('data-remote', 'true');
  });

  $(".select-option").click(function(){
    $(this).addClass("active");
    $(this).nextAll().removeClass("active");
    $(this).prevAll().removeClass("active");

    var rank = $(".rank dd.active").text();
    var supply = $(".supply dd.active").text();
    var get_url = window.location.href + "?rank=" + rank + "&supply=" + supply;

    var content = "<a hidden class='select-click' data-remote='true' href='"+get_url+"'><div>select-click</div></a>";

    $(".rank").before(content);
    $(".select-click div").trigger("click");
  });

  var countdown=60;

  function settime() {
    e = $('.btn-code');
    if (countdown == 0) {
      e.removeAttr("disabled");
      e.addClass('active-botton');
      e.html("获取验证码");
      countdown = 60;
    } else {
      e.attr("disabled", true);
      e.removeClass('active-botton');
      e.html("重新发送(" + countdown + ")");
      countdown--;
      setTimeout(function() {
      settime();
      },1000);
    }
  }
  $('.btn-code').click(function(event) {
    mobile = $("#session_mobile").val();
    url = "/send_msg?mobile=" + mobile;
    if (mobile==0) {
      alert("手机号不能为空");
    } else{
      $.get(url, function(data, status) {
        if (data.message == "success" ) {
          settime();
        } else {
          alert("请重试");
        }
      });
    };
  });

  $('.login-btn').bind('click',function(){
    $('.zy-window-login').show();
      $('.zy-backdrop').show();
  })

  $(document).click(function(e){
    if(e.target.className === 'zy-backdrop'|| e.target.className === 'zy-window-close') {
      $('.zy-window-login').hide();
      $('.zy-backdrop').hide();
      clearTimeout(t_startTime);
      $('.btn-code').attr('disabled',false);
      $('.btn-code').html('获取验证码');
    }
  })
</script>
