<% @photos.each do |p| %>
    <div class="col-sm-4 col-md-4 photo_<%= p.id  %>">
      <div class="thumbnail">
        <img src="<%=  p.img_url.to_s + image_size %>" width= "300" height="300">
        <% if @product && @product.content_photo_ids %>
          <% if @product.content_photo_ids.split(",").include?(p.id.to_s) %>
          <input type="checkbox" name="ck[]" id="" class="img-ck" value="<%= p.id %>" checked="checked">
          <% end %>
        <% else %>
          <input type="checkbox" name="ck[]" id="" class="img-ck" value="<%= p.id %>">
        <% end %>
        <div class="caption">
          <h3><%= p.name %></h3>
        </div>
      </div>
    </div>
<% end %>
