<%= form_for @good, url: admin_brand_product_goods_path(@brand,@product) ,  html:{ class:"col s12 admin_form" } do |f| %>
   <%= render "admin/share/error_messages", target: @good %>
  <div class="row">
    <div class="car-specs">
      <h3>车辆规格</h3>
      <hr>
      <div class="form-group  col-md-8" data-required="true">
          <%= f.label :name, '车辆名', class: 'control-label' %>
          <%= f.text_field :name, class: "form-control validate", autofocus: true, placeholder: "例如:2016款宝马X3 xDrive 28i中东版 2.0T 四驱 汽油版 5座 黑色/棕色" %>
      </div>
      <div class="form-group col-md-8" data-required="true">
          <%= f.label :source_from, '产地', class: 'control-label' %>
          <%= f.text_field :source_from, class: "form-control validate", autofocus: true %>
       </div>
        <div class="form-group col-md-8" data-required="true">
          <%= f.label :current_price, '现价', class: 'control-label' %>
          <%= f.text_field :current_price, class: "form-control validate", autofocus: true %>
       </div>
        <div class="form-group col-md-8" data-required="true">
          <%= f.label :market_price, '市场价', class: 'control-label' %>
          <%= f.text_field :market_price, class: "form-control validate", autofocus: true %>
       </div>
        <div class="form-group col-md-8" data-required="true">
          <%= f.label :registered_info, '上牌五证', class: 'control-label' %>
          <%= f.text_field :registered_info, class: "form-control validate", autofocus: true %>
       </div>
        <div class="form-group col-md-8" data-required="true">
              <%= f.check_box :in_stock %>
              <%= f.label :in_stock, '现货', class: 'control-label' %>
        </div>


      <div class="form-group col-md-8" data-required="true">
          <%= f.label :name, '排量', class: 'control-label' %>
          <%= f.text_field :name, class: "form-control validate", autofocus: true %>
       </div>

        <div class="form-group col-md-8" data-required="true">
          <%= f.label :name, '排量', class: 'control-label' %>
          <%= f.text_field :name, class: "form-control validate", autofocus: true %>
       </div>

        <div class="form-group col-md-8" data-required="true">
          <%= f.label :name, '颜色', class: 'control-label' %>
          <%= f.text_field :name, class: "form-control validate", autofocus: true %>
        </div>
        <div class="form-group  col-md-12">
          <label for="E5rcADdEFdxT4EKSY" class="control-label">车辆主图</label>
          <input id="input-fa" name="inputfa[]" type="file" multiple class="file-loading">
          <%= f.hidden_field :photo_ids %>
        </div>
    </div>
    <div class="basic-pramater">
      <div class="col-md-12">
        <h3>基本参数<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">添加更多基本参数</button>
        </div>
        <div class="modal fade myModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增基本参数选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="0">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_one.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
<!--       <div class="form-group   col-md-12 new-item">
        <label class="control-label col-md-12" for="good_name">dadad</label>
        <div class="col-md-8">
          <input type="text" class="form-control col-md-6" id="">
          <input type="hidden" class="" value="0">
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-sm btn-danger delete">删除</button>
        </div>
      </div> -->
    </div>
    <div class="car-body">
      <div class="col-md-12">
        <h3>车身<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">添加更多车身参数</button>
        </div>
        <div class="modal fade myModal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增车身选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="1">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater1" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_two.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="car-engine">
      <div class="col-md-12">
        <h3>发动机<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">添加更多发动机参数</button>
        </div>
        <div class="modal fade myModal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增发动机选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="2">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater2" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_three.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="speed-change">
      <div class="col-md-12">
        <h3>变速箱<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal3">添加更多变速箱参数</button>
        </div>
        <div class="modal fade myModal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增变速箱选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="3">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater3" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_four.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="car-bottom">
      <div class="col-md-12">
        <h3>底盘转向<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal4">添加更多底盘转向参数</button>
        </div>
        <div class="modal fade myModal" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增底盘转向选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="4">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater4" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_five.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="car-brake">
        <div class="col-md-12">
        <h3>车轮制动<hr></h3>
        <div class="form-group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal5">添加更多车轮制动参数</button>
        </div>
        <div class="modal fade myModal" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="myModalLabel">新增车轮制动选项</h4>
              </div>
              <div class="modal-body">
                 <div class="form-group">
                    <label for="item-name">参数名称</label>
                    <input type="text" class="form-control" id="item-name" name="attr[key]">
                    <input type="hidden" name="attr[group_num]" value="5">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary add-pramater5" data-dismiss="modal">保存修改</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @attrs_six.each do |t| %>
        <div class="form-group col-md-8" data-required="true">
          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="car-important">
      <h3 class="col-md-12">重要配置<hr></h3>
      <% @attrs_seven.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>
    <div class="car-other">
      <h3 class="col-md-12">更多配置<hr></h3>
      <% @attrs_eight.each do |t| %>
        <div class="form-group col-md-8" data-required="true">

          <label class="control-label" for="good_name"><%= t.key %></label>
          <input class="form-control validate" autofocus="autofocus" type="text"  id="attr_value_<%= t.id %>">
          <input type="hidden" class="attr_<%= t.id %>" value= "<%=t.id %>">
        </div>
      <% end %>
    </div>

  </div>

    <div class="buttons text-right">
    <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">提交</button>
    </div>
<% end %>
<script>


$(function(){
  //初始化图片上传插件
    $("#input-fa").fileinput({
        language: 'zh', //设置语言
        theme: "fa",
        uploadUrl: "/admin/upload"
    });

   $('#img_url').change(function(e){
     var fd = new FormData();
      fd.append("upload_file", $("#img_url").get(0).files[0]);
      console.log(fd);
      setProgress(progress, 0, "开始上传");
      setProgress(progress, 50, "50%");
      $.ajax({
        url: "/admin/upload",
        type: "POST",
        processData: false,
        contentType: false,
        data: fd,
        success: function(data) {
          console.log(data.file_path);
          setProgress(progress, 100, "上传成功");
              $('#product_img_logo').val(data.file_path);
              $('#product_logo').attr('src', data.file_path + "<%= image_size %>");
        }
      });
  })
})

 //设置进度条
var progress = document.getElementById("progress");

function setProgress(ele, percent, content) {
  ele.style.display = "block";
  if (!!percent) {
    ele.getElementsByClassName("progress-bar")[0].style.width = percent + "%";
    ele.getElementsByClassName("progress-bar")[0].setAttribute("aria-valuenow", percent);
  }
  ele.getElementsByClassName("progress-bar")[0].innerText = content;
}

  if ($('.is_recommended').is(':checked')) {
      $('.recommended').removeClass('after-recommended')
    }
    else{
      $('.recommended').addClass('after-recommended')
    };
 $('.is_recommended').change(function() {
    if ($('.is_recommended').is(':checked')) {
      $('.recommended').removeClass('after-recommended')
    }
    else{
      $('.recommended').addClass('after-recommended')
     };
 });



//   $(".add-pramater").click(function(){
//   var ele_modal = $(this).parents(".myModal").last();
//   var ele_input1 = ele_modal.find('input').get(0);
//   var ele_input2 = ele_modal.find('input').get(1);
//   var ele_input1_value = ele_input1.value;
//   var ele_input2_value = ele_input2.value;
//   $.post("/admin/attrs",
//   {
//     "attr[key]": ele_input1_value,
//     "attr[group_num]": ele_input2_value
//   },
//   function(data,status){
//     console.log(data);
//     var new_item = '<div class="form-group   col-md-8 new-item">' +
//     '            <label class="control-label" for="good_name">' + data.key + '</label>' +
//     '          <div class="col-md-12">' +
//     '            <input class="form-control" style="width:none" type="text" name="good[name]" id="good_name">' +
//     '            <button type="button" class="btn btn-sm btn-danger delete">删除</button>' +
//     '          </div>' +
//     '        </div>';
//     $('#item-name').val("");
//     $('.basic-pramater').append(new_item);
//   });
// });
  $(".add-pramater").click(function(){
    add_new_item($(this),$(".basic-pramater"))
  });
  $(".add-pramater1").click(function(){
    add_new_item($(this),$(".car-body"))
  });
  $(".add-pramater2").click(function(){
    add_new_item($(this),$(".car-engine"))
  });
  $(".add-pramater3").click(function(){
    add_new_item($(this),$(".speed-change"))
  });
  $(".add-pramater4").click(function(){
    add_new_item($(this),$(".car-bottom"))
  });
  $(".add-pramater5").click(function(){
    add_new_item($(this),$(".car-brake"))
  });

function add_new_item (model_button, parent_dom) {
  var ele_modal = model_button.parents(".myModal").last();
  var ele_input1 = ele_modal.find('input').get(0);
  var ele_input2 = ele_modal.find('input').get(1);
  var ele_input1_value = ele_input1.value;
  var ele_input2_value = ele_input2.value;
  $.post("/admin/attrs",
  {
    "attr[key]": ele_input1_value,
    "attr[group_num]": ele_input2_value
  },
  function(data,status){
    console.log(data);
    var new_item = '<div class="form-group   col-md-12 new-item">' +
    '  <label class="control-label col-md-12" for="good_name">'  + data.key + '</label>' +
    '  <div class="col-md-8">' +
    '    <input type="text" class="form-control col-md-6" id=' + 'attr_value_' + data.id + '>' +
    '    <input type="hidden" class=' + 'attr_' + data.id + " " +
    '    value='  + data.id + '>'  +
    '  </div>' +
    '  <div class="col-md-2">' +
    '    <button type="button" class="btn btn-sm btn-danger delete">删除</button>' +
    '  </div>' +
    '</div>';
    $('#item-name').val("");
    parent_dom.append(new_item);
  });
}


  $('.admin_form').on('click', '.delete', function() {
    $(this).parents(".new-item").remove();
  });
</script>
