<tr id="good_%= good.id %>">
  <td><%= good.name %></td>
  <td><%= good.source_from %></td>
  <td><%= good.current_price %></td>
  <td><%= good.market_price %></td>
  <td><%= good.in_stock %></td>
  <td><%= good.status %></td>
  <td>
  <%= link_to  '编辑', edit_admin_brand_product_good_path(@brand,@product,good), title: '品牌编辑', class: 'btn btn-success' %>
  <% if good.status == 0 %>
    <%= link_to '下架', sold_out_admin_brand_product_path(@brand,@product,good), title: '下架', class: 'btn btn-info' %>
  <% else %>
    <%= link_to '重新上架', reshelf_admin_brand_product_path(@brand,@product,good), title: '重新上架', class: 'btn btn-info' %>
  <% end %>
  <%# link_to  '删除',  admin_product_path(product),
        method: "delete",
        remote: true,
        data: {:confirm => "确定删除？"},
        title: '品牌删除'
  %>
  </td>
</tr>
