<div class="zy-backdrop"></div>

<div class="zy-window" style="width: 400px;">
  <div class="zy-window-wrap" style="width: 330px;margin: 20px auto; ">
    <div class="zy-window-content" >
     <div class="zy-window-row">
     <%= image_tag "meizi.png" %>
       <p class="zy-window-top">无需电话等待,只需一步提交</p>
       <p>既可预约指定品牌专业顾问与您一对一服务</p>
     </div>
      <div class="zy-window-row">
        <label for="">意向车型</label>
        <input type="text">
      </div>
      <div class="zy-window-row">
        <label for="">上牌城市</label>
        <select name="" id="">
          <option value=""></option>
        </select> 
        <select name="" id="" class="zy-window-select">
          <option value=""></option>
        </select>
      </div>
      <div class="zy-window-row">
        <label for="">姓名</label>
        <input type="text">
      </div>
      <div class="zy-window-row">
        <label for="">联系方式</label>
        <input type="text" name="" id="">
      </div>
     <div class="zy-window-row">
        <button id="zy-window-phone-button">提交</button>
     </div>
     <div class="zy-window-row">
       <p class="zy-window-right">你也可以拨打客服热线进行人工预约登记</p>
       <p class="zy-window-right">4000-000-000</p>
     </div>
     
    </div>

    
  </div>
</div>

<div class="container">
 <div class="header">
  <ul class="header-nav">
    <li class="active">首页</li>
    <li>在线选车</li>
    <li>关于我们</li>
    <li class="active">登陆</li>
  </ul>
  </div>
  <div class="clearfix"></div>

  <nav>
    <div class="nav-title">
      <%= image_tag "BM.png", class: "nav-logo" %>
      <div class="nav-cate">
        宝马
        <i class="iconfont">&#xe616;</i>
        <div class="nav-brand">
          <div class="nav-brand-title">品牌</div>
          <div class="nav-brand-list">
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav-type clearfix">
        <li class="nav-way">
          X5
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车型
          <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车款
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部版本
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="car-config clearfix">
    <div class="car-config-left">
      <%= image_tag "x5.png", class: "car-config-img" %>
       <div class="d-img-list">
          <div class="icon-left"><i class="iconfont">&#xe618;</i></div>
          <div class="d-list-wrap">
            <%= image_tag "car2.jpeg" %>
            <%= image_tag "car3.jpeg" %>
            <%= image_tag "car4.jpeg" %>
            <%= image_tag "car2.jpeg" %>
            <%= image_tag "car1.jpeg" %>
          </div>
          <div class="icon-right"><i class="iconfont">&#xe619;</i></div>
        </div>
    </div>
    <div class="car-config-right">
      <h1 class="car-config-title">2016款宝马X5 xDrive 35i中东版 3.0T 四驱 汽油版 5座外黑内棕</h1>
      <div class="car-fonfig-price">
        平行车价: <strong>￥75.4万</strong>
      </div>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd class="cho">全款订车<i></i></dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <div class="car-config-button">
        <button class="car-config-pre">0元预定</button>
        <button class="car-config-consult">电话咨询</button>
      </div>
    </div>
  </div>

  <div class="public-bg-wrap">
    <div class="zy-body">
      <h1 class="zy-title-list">亮点配置</h1>
      <ul class="zy-show-img-wrap clearfix">
        <li>
          <%= image_tag "abcd.jpeg" %>
        </li>
        <li>
          <%= image_tag "abcd.jpeg" %>
        </li>
        <li>
          <%= image_tag "abcd.jpeg" %>
        </li>
        <li>
          <%= image_tag "abcd.jpeg" %>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="zy-body">  
  
   <div class="zy-base-config-list">
      <% @return_hash["goods"].each do |g| %>
       <% if g[:id] == 1 %>
       <table>
        <tr>
          <td><%= g[:attrs][0] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][1] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][2] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][3] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][4] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][5] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][6] %></td>
        </tr>
        <tr>
          <td><%= g[:attrs][7] %></td>
        </tr>
       </table>
         
       <% end %>
      <%# g[:attrs][0][0] %>


      <% end %>

      <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
     <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
     <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
     <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
     <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
     <table width="100%" id="" style="" configtable="基本参数">
       <thead>
         <tr>
           <td class="config_cate" colspan="2">基本参数</td>
         </tr>
       </thead>
     
       <tbody class="config_body">
         <tr class="even">
           <td class="td1">级别</td>
           <td class="td2">中大型SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">发动机</td>
           <td class="td2">4.6L 310马力 V8</td>
         </tr>
         <tr class="even">
           <td class="td1">变速箱</td>
           <td class="td2">6挡手自一体</td>
         </tr>
         <tr class="odd">
           <td class="td1">长*宽*高（mm）</td>
           <td class="td2">4950*1980*1890</td>
         </tr>
         <tr class="even">
           <td class="td1">车身结构</td>
           <td class="td2">5门8座SUV</td>
         </tr>
         <tr class="odd">
           <td class="td1">最高车速（km/h）</td>
           <td class="td2">190</td>
         </tr>
         <tr class="even">
           <td class="td1">官方0-100km/h加速（s）</td>
           <td class="td2">-</td>
         </tr>
         <tr class="odd">
           <td class="td1">参考油耗（L/100km）</td>
           <td class="td2">16.6</td>
         </tr>
       </tbody>
     </table>
   </div>
 
  </div>

  <div class="more-config">
  <footer>
      <div class="public-bg-wrap">
        <div class="zy-body clearfix">
          <h1  class="zy-title-list">更多配置</h1>
          <ul class="clearfix">
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
          </ul>
        </div>
      </div>
  </div>
  </footer>
</div>

<script>

  $.get("/v1/details/<%= @id %>",function(data){
    // console.log(data.goods.length);
    var str = "";
    for(var i = 0; i < data.goods.length;i++){
      console.log(data.goods[i].photos.length)
      for(var j=0;j<data.goods[i].photos.length;j++){
        
         console.log(data.goods[i].photos[j])
      }
    }
  })
  


  $('.zy-config-params li').click(function(){
      var index = $(this).index();
      $('.zy-config-params li').removeClass('active');
      $(this).addClass('active');
      $('.zy-params-list').attr('id','');
      $('.zy-params-list').eq(index).attr('id','current-show');
  })

 //关闭弹窗

 basecar.openWindow('.car-config-consult','.zy-backdrop','.zy-window');
 basecar.closeMask('.zy-backdrop','.zy-window');

 //图片移动
$('.icon-right').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left - 100;
  if (left == -100) {
    return false;
  }
  list.css('left',moveleft+'px');
})
$('.icon-left').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left + 100;
  if ( left == 0) {
    return false
  }else{
    list.css('left',moveleft+'px');
  }
})

//图片预览
$('.d-img-list img').mouseover(function(){
  var url = $(this).attr('src');
  $('.car-config-img').attr('src',url);
})

$('.car-config-right dd').click(function(){
  $(this).siblings('dd').children().remove();
  $(this).append('<i></i>').addClass('cho').siblings('dd').removeClass('cho');
})
 
</script>