<div class="zy-backdrop"></div>

<%# form_for @consultation,url: consultation_path, remote: true do |f| %>
<%# tag(:input, :type => "hidden", :name =>   
request_forgery_protection_token.to_s, :value =>   
form_authenticity_token) %>   
<div class="zy-window" style="width: 400px;">
  <div class="zy-window-wrap" style="width: 330px;margin: 20px auto; ">
    <div class="zy-window-content" >
     <div class="zy-window-row">
     <%= image_tag "meizi.png" %>
       <p class="zy-window-top">无需电话等待,只需一步提交</p>
       <p>既可预约指定品牌专业顾问与您一对一服务</p>
     </div>
      <div class="zy-window-row">
        <label for="">意向车型</label>
        <%# f.text_field :intention %>
        <input type="text" id="car_type">
      </div>
      <div class="zy-window-row">
        <label for="">上牌城市</label>
        <div class="city-group">
          <%= select_tag "province_id", options_for_select(ChinaCity.list), class: 'city-select', prompt: "--省份--", name:'consultation[province_id]' %>
          <%= select_tag "city_id", options_for_select(ChinaCity.list), class: 'city-select', prompt: "--城市--", name:'consultation[city_id]' %>
        </div>
      </div>
      <div class="zy-window-row">
        <label for="">姓名</label>
        <%# f.text_field :name %>
        <input type="text" id="car_name">
      </div>
      <div class="zy-window-row">
        <label for="">联系方式</label>
        <%# f.text_field :phone_num %>
        <input type="text" name="" id="car_contact">
      </div>
     <div class="zy-window-row">
        <button id="zy-window-phone-button">提交</button>
     </div>
     <div class="zy-window-row">
       <p class="zy-window-right">你也可以拨打客服热线进行人工预约登记</p>
       <p class="zy-window-right">4000-000-000</p>
     </div>
     
    </div>

    
  </div>
</div>
<%# end %>

<div class="container">
 <div class="header">
  <ul class="header-nav">
    <li class="active">首页</li>
    <li>在线选车</li>
    <li>关于我们</li>
    <li class="active">登陆</li>
  </ul>
  </div>
  <div class="clearfix"></div>

  <nav>
    <div class="nav-title">
      <%= image_tag "BM.png", class: "nav-logo" %>
      <div class="nav-cate">
        宝马
        <i class="iconfont">&#xe616;</i>
        <div class="nav-brand">
          <div class="nav-brand-title">品牌</div>
          <div class="nav-brand-list">
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <%= image_tag "BM.png" %>              
              <span>宝马</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav-type clearfix">
        <li class="nav-way">
          X5
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车型
          <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车款
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部版本
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="car-config clearfix">
    <div class="car-config-left">
      <%= image_tag  @photo_url, class: "car-config-img" %>
       <div class="d-img-list">
          <div class="icon-left"><i class="iconfont">&#xe618;</i></div>
          <% @return_hash["goods"].each do |g| %>
           <% if g[:id] == g[:id] %>
             
              <div class="d-list-wrap goods_<%= g[:id] %>">
               <% g[:photos].each do |p| %>
                  <%= image_tag  p %>
                <% end %>
              </div>
          <% end %>
          <% end %>
          <div class="icon-right"><i class="iconfont">&#xe619;</i></div>
        </div>
    </div>
    <div class="car-config-right">
      <h1 class="car-config-title"><%= @product_id %><%= @good.name %><%= @id %></h1>
      <div class="car-config-price">
        平行车价: <strong><%= @good.current_price %>万</strong>
      </div>
      <div class="zy-fule">
        <% @good_params.each do |g| %>
        <dl class="car-config-way clearfix">
          <dt><%= g.name %></dt>
          <dd class="cho"><%= g.value %></dd>
        </dl>
        <% end %>
       <!--  <dl class="car-config-way clearfix">
          <dt>选择燃油</dt>
          <dd class="cho">全款订车<i></i></dd>
          <dd>订金尾款或贷款购车76.5万</dd>
        </dl>
        <dl class="car-config-way clearfix">
          <dt>选择排量</dt>
          <dd>全款订车</dd>
          <dd>订金尾款或贷款购车76.5万</dd>
        </dl>
        <dl class="car-config-way clearfix">
          <dt>选择颜色</dt>
          <dd>全款订车</dd>
          <dd>订金尾款或贷款购车76.5万</dd>
        </dl>
        <dl class="car-config-way clearfix">
          <dt>可选车型</dt>
          <dd>全款订车</dd>
          <dd>订金尾款或贷款购车76.5万</dd>
        </dl> -->
      </div>
      <div class="car-config-button">
        <button class="car-config-pre">0元预定</button>
        <button class="car-config-consult">电话咨询</button>
      </div>
    </div>
  </div>

  <div class="public-bg-wrap">
    <div class="zy-body">
      <h1 class="zy-title-list">亮点配置</h1>
      <ul class="zy-show-img-wrap clearfix">
       <%  @return_hash["product"][:content_photos].each do |p| %>
        <li>  <%= image_tag p %></li>
       <% end %>
      </ul>
    </div>
  </div>
  
  <div class="zy-body">  
  
   <div class="zy-base-config-list">
      <% @return_hash["goods"].each do |g| %>
       <% if g[:id] == g[:id] %>
           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2"  class="config_cate">基本参数</td>
              </tr>
            <% g[:attrs][0].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>

           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">车身</td>
              </tr>
            <% g[:attrs][1].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>

           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">发动机</td>
              </tr>
            <% g[:attrs][2].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>

           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">变速箱</td>
              </tr>
            <% g[:attrs][3].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>


           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">底盘转向</td>
              </tr>
            <% g[:attrs][4].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>

           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">车轮制动</td>
              </tr>
            <% g[:attrs][5].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>

           <table class="goods_<%= g[:id] %>">
              <tr>
                <td colspan="2" class="config_cate">重要配置</td>
              </tr>
            <% g[:attrs][6].each do |a| %>
              <tr>
                <td><%= a[:key] %></td>
                <td><%= a[:value] %></td>
              </tr>
            <% end %>
           </table>
       
       <% end %>
      <% end %>

   </div>
 
  </div>

  <div class="more-config">
  <footer>
      <div class="public-bg-wrap">
        <div class="zy-body clearfix">
          <h1  class="zy-title-list">更多配置</h1>
          <ul class="clearfix">
          <% @return_hash["goods"][0][:extra_configration].split(',').each do |t| %>
            <li><%= t %></li>
          <% end %>
          </ul>
        </div>
      </div>
  </div>
  </footer>
</div>

<script>
  $(".goods_"+<%= @id %>).show();

  Array.prototype.contains = function (obj) {  
      var i = this.length;  
      while (i--) {  
          if (this[i] === obj) {  
              return false;  
          }  
      }  
      return true;  
  }  

  // $.get("/users/fuel/<%= @product_id %>/good_id/<%= @id %>",function(data){
  //   var fule = [];
  //   var displace = []; //排量
  //   var color = []; 
  //   var model = []; //车型
  //   var str = '';
  //   str += '        <dl class="car-config-way clearfix">' +
  //          '        <dt>选择燃油</dt>';
  //          for(var i=0; i < data.length; i ++){
  //           if(<%= @id %> == data[i]['good_id']){
  //               if(data[i]["name"]=="燃油" && fule.contains(data[i]['value'])){
  //                 fule.push(data[i]['value'])
  //                 console.log(fule);
  //                 if(<%= @id %> == data[i]['good_id']){
  //                  str+=   '<dd class="cho" >'+data[i]['value']+'</dd>' 
  //                }
  //                else{
  //                  str+=   '<dd >'+data[i]['value']+'</dd>' 
  //                }
  //              }
  //           }   
  //        }
  //    str+='         </dl>';


  //     str += '        <dl class="car-config-way clearfix">' +
  //          '        <dt>选择排量</dt>';
  //      for(var i=0; i < data.length; i ++){
  //         if(data[i]["name"]=="排量" && displace.contains(data[i]['value'])){
  //           displace.push(data[i]['value'])
  //           if(<%= @id %> == data[i]['good_id']){
  //             str+=   '<dd class="cho">'+data[i]['value']+'</dd>'
  //           }
  //           else
  //           {
  //             str+=   '<dd >'+data[i]['value']+'</dd>' 
  //           }
  //         }
  //      }
  //     str+='         </dl>';

  //     str += '        <dl class="car-config-way clearfix">' +
  //     '        <dt>选择颜色</dt>';
  //     for(var i=0; i < data.length; i ++){
  //         if(data[i]["name"]=="外颜色"  && color.contains(data[i]['value']) ){
  //           color.push(data[i]['value']);
  //           if(<%= @id %> == data[i]['good_id']){
  //             str+=   '<dd class="cho">'+data[i]['value']+'</dd>'
  //           }else{
  //              str+=   '<dd >'+data[i]['value']+'</dd>' 
  //           }
  //         }
  //      }

  //     str+='         </dl>';


  //      str += '        <dl class="car-config-way clearfix">' +
  //          '        <dt>车型</dt>';
  //          for(var i=0; i < data.length; i ++){
  //           if(data[i]["name"]=="可选车型" && model.contains(data[i]['value']) ){
  //             model.push(data[i]['value']);
  //             if(<%= @id %> == data[i]['good_id']){
  //                str+=   '<dd class="cho">'+data[i]['value']+'</dd>' 
  //             }else{
  //               str+=   '<dd >'+data[i]['value']+'</dd>' 
  //             }
  //           }
  //         }
  //      str+='         </dl>';



  //     $('.zy-fule').html(str);

     
  // })



  


  $('.zy-config-params li').click(function(){
      var index = $(this).index();
      $('.zy-config-params li').removeClass('active');
      $(this).addClass('active');
      $('.zy-params-list').attr('id','');
      $('.zy-params-list').eq(index).attr('id','current-show');
  })

 //关闭弹窗
$('.car-config-consult').click(function(){
     $('.zy-window').show();
   $('.zy-backdrop').show();
  })
 // basecar.openWindow('.car-config-consult','.zy-backdrop','.zy-window');
 basecar.closeMask('.zy-backdrop','.zy-window');

 //图片移动
$('.icon-right').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left - 100;
  if (left == -100) {
    return false;
  }
  list.css('left',moveleft+'px');
})
$('.icon-left').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left + 100;
  if ( left == 0) {
    return false
  }else{
    list.css('left',moveleft+'px');
  }
})

//图片预览

$('.d-img-list img').mouseover(function(){
  var url = $(this).attr('src');
  $('.car-config-img').attr('src',url);
})

$('.car-config-right dd').click(function(){
  $(this).siblings('dd').children().remove();
  $(this).append('<i></i>').addClass('cho').siblings('dd').removeClass('cho');
})

$('#zy-window-phone-button').click(function(){
  var car_type = $('#car_type').val();
  var province_id= $('#province_id').val();
  var city_id = $('#city_id').val();
  var car_name = $('#car_name').val();
  var car_contact = $('#car_contact').val();
    $.ajax({
      url: '<%= consultation_path %>',
      type: 'POST',
      data: { consultation:
          {"intention": car_type,
          "province_id": province_id,
          "city_id": city_id,
          "name": car_name,
          "phone_num": car_contact,
        }
      },
      success: function (data) {
        console.log(data.status)
        if(data.status == 'ok'){
          $('.zy-window').hide();
          $('.zy-backdrop').hide();
          alert('您的信息已经提交')
        }else{
          alert('信心填写有误');
        }
      }
  })
})
 
</script>