<div class="sidebar">
  <ul class="sidebar-nav orion-links">
    <li class="sidebar-brand">
      <a href="../admins">优客生活</a>
    </li>

    <li class="">
      <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse">统计 <i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse1">
         <ul class="orion-links sub">
              <li><%= link_to '店铺统计', '', 'data-skip-pjax' => true  %></li>
         </ul>
      </div>
    </li>

    <li class="">
      <a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse">运营 <i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse2">
         <ul class="orion-links sub">
            <li>
              <%= link_to "店长管理", '' %></li>
         </ul>
      </div>
    </li>

    <li class="">
      <a role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse">店铺 <i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse3">
         <ul class="orion-links sub">
              <li>
                <%= link_to '店铺列表',  '' %></li>
              <li>
                <%= link_to '理发师列表', '' %></li>
         </ul>
      </div>
    </li>
    <li class="">
      <a role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse">服务模板 <i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse4">
         <ul class="orion-links sub">
            <li>
              <%= link_to '添加模板',  '' %>
            </li>
            <li>
              <%= link_to '模板列表', '' %>
            </li>
         </ul>
      </div>
    </li>

        <li class="">
      <a role="button" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse">订单管理<i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse5">
         <ul class="orion-links sub">
            <li>
              <%= link_to '订单验证', '' %>
            </li>
            <li>
              <%= link_to '创建线下订单', '' %>
            </li>
         </ul>
      </div>
    </li>

    <li class="">
      <a role="button" data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse">用户 <i class="fa fa-chevron-down pull-right"></i></a>
      <div class="collapse in" id="collapse6">
         <ul class="orion-links sub">
            <li class="">
              <%= link_to '查看所有用户',  '' %>
            </li>
         </ul>
      </div>
    </li>
  </ul>
</div>

